<div class="container bg-body-tertiary" style="margin-top: 0;">
     <div style="color: rgba(0, 0, 0, 0);"><a>Ваш прозрачный текст</a></div>

<div class="card" style="max-width: 98%; margin-left: 12px; margin-top: 30px; border: 0; ">
  <div class="card-body">
    <blockquote class="blockquote mb-0"  style="border: 0; ">
      <p>Привет!</p>
      <footer class="blockquote-footer"> здесь можно добавить заказы и отслеживать их. Нажмите кнопку "заказать" или "мои заказы" <cite title="Заголовок источника">
  </div>
</div>


<div class="card mb-3">
  
</div>
</div>
