{{!-- <div style="display: flex; justify-content: center; align-items: flex-start; height: 100vh; padding-top: 90px;">
    <form action="/log" method="POST" style="border: 2px solid #808080; padding: 20px; border-radius: 10px; width: 50%;">
        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-outline me-2">Войти</button>
        </div>
    </form>
</div> --}}


<form action="/log" method="POST" >
<div class="input-group mb-3">
  <input  type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" required>
  <input  type="password" name="password" class="form-control" placeholder="Password" aria-label="Server" required>
</div>
 <div style="text-align: center;">
            <button type="submit" class="btn btn-success">войти</button>
        </div>
</form>




