
<form action="/register" method="POST" >
<div class="input-group mb-3">
  <input  type="text" name="username" class="form-control" placeholder="Username" aria-label="username" required>
  <input  type="password" name="password" class="form-control" placeholder="Password" aria-label="password" required>
</div>
 <div style="text-align: center;">
            <button type="submit" class="btn btn-success">Регистрация</button>
        </div>
</form>




